PGWS_SUPABASE_URL=https://tocnikeuyitavjsbrhkp.supabase.co
PGWS_SUPABASE_PUBLISHABLE_KEY=
PGWS_SUPABASE_SERVICE_ROLE_KEY=
PGWS_ADMIN_EMAILS=nationals@estherfundsinc.org
STRIPE_SECRET_KEY=
STRIPE_PGWS_PAYMENT_LINK_URL=https://buy.stripe.com/dRm9AU9RIfua3Fj05v7bW01
STRIPE_PGWS_PAYMENT_LINK_ID=
STRIPE_WEBHOOK_SECRET=
PUBLIC_APP_URL=https://prettygirlswhoserve.org
PGWS_MYEFF_CONNECTION_SECRET=
MYEFF_PUBLIC_URL=https://my.estherfundsfoundation.org
RESEND_API_KEY=
PGWS_EMAIL_FROM=Pretty Girls Who Serve <pgws@estherfundsinc.org>

